/* styles.css */

* {
	font-family: Arial;
}
.playwrite-nz-basic-guides-regular, h1 {
  font-family: "Playwrite NZ Basic Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.backgroundImage {
	background-image: url(../img/cat-006.png);
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	background-image: url(../img/cat-007.png);
	width: 400px;
	height: 400px;
}

body {
	margin: 100px auto;
	width: 50%;
	background-color: grey;
}
